body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.game {
    width: 700px;
    height: 1020px;
    display: flex;
    flex-direction: column;
    border-radius: 5px solid #263d4d;
}

.game-details {
    width: 100%;
    border-bottom: 1px solid #c6c9cb;
    background-color: #0b1019;
    font-size: 1rem;
    font-weight: 200;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    color: azure;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(70, 1fr) / repeat(55, 1fr);
    animation: dayChanges 10s infinite linear;
}


@keyframes dayChanges {
    0% {
        background-image: linear-gradient(0deg, rgb(167, 212, 195), rgb(10, 185, 209));
    }

    50% {
        background-image: linear-gradient(0deg, rgb(77, 174, 191), rgb(32, 83, 120));
    }

    100% {
        background-image: linear-gradient(0deg, rgb(46, 62, 97),  #121823);
    }
}

.gameOver {
    background-image: linear-gradient(0deg, #293447,  #293447);
}

.gameOverFire {
    background-image: linear-gradient(0deg, rgb(165, 89, 18), rgb(233, 44, 15));
}

.cloudLight {
    background-color: #dfd5da;
}

.cloudDark {
    background-color: #514d4f;
}

.crazyBoy {
    background-color: #880a49;
}

.bullet {
    background-color: #bdb813;
}