body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.game {
    width: 480px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5px solid #263d4d;
}

.game-details {
    width: 100%;
    border-bottom: 1px solid #c6c9cb;
    background-color: #0b1019;
    font-size: 1rem;
    font-weight: 200;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    color: azure;
}

.play-board {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: repeat(60, 1fr) / repeat(55, 1fr);
    animation: dayChanges 30s infinite linear;
}


@keyframes dayChanges {
    0% {
        background-image: linear-gradient(0deg, rgb(167, 212, 195), rgb(10, 185, 209));
    }

    50% {
        background-image: linear-gradient(0deg, rgb(77, 174, 191), rgb(32, 83, 120));
    }

    100% {
        background-image: linear-gradient(0deg, rgb(46, 62, 97),  #121823);
    }
}

.gameOver {
    background-image: linear-gradient(0deg, #293447,  #293447);
}

.gameOverFire {
    background-image: linear-gradient(0deg, rgb(165, 89, 18), rgb(233, 44, 15));
}

.cloudLight {
    border-radius: 20%;
    background-color:  #d1ccce;
}

.cloudGrey {
    border-radius: 20%;
    background-color: #878385;
}

.cloudDark {
    border-radius: 20%;
    background-color: #514d4f;
}

.storm {
    border-radius: 20%;
    background-color: #cdcd2c;
}

.cloudPurpul {
    border-radius: 20%;
    background-color: #ac2ccd;
}

.crazyBoy {
    background-color: #880a49;
}

.bullet {
    background-color: #bdb813;
    border-radius: 50%;
}

.platform {
    background-color: #7e610a;
    grid-column: 23 / 36 ;
    grid-row: 56 / 61;
    text-align: center;
    color: #c6c9cb;
}

.cloud {
    border: 1px solid #c6c9cb;
    grid-template-areas: 
    ". c c ." 
    "c c c c";
}

.cloudPart {
    background-color: #a2a9ac;
    grid-area: c;
    
}


